.step-container {
  width: 100%;
  display: 'flex';
}

.steps {
  height: 30px;
  text-align: center;
  line-height: 30px;
  position: relative;
  margin: 5px 0px 10px 10px;
  display: inline-block;
  width: calc((100% - 60px)/2)
}

/* Divide step into 2 equally half top and bottom with each half has height of 15px */
.steps:before,
.steps:after {
  content: '';
  position: absolute;
  left: 0px;
  width: calc((100% - 60px)/2);
  height: 15px;
}

/* Create arrow shape for half top */
.steps:before {
  top: 0px;
  -moz-transform: skew(30deg);
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
}

/* Create arrow shape for half bottom */
.steps:after {
  bottom: 0px;
  -moz-transform: skew(-30deg);
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
}

/* Defind default css style for first step */
.steps:first-child {
  background: #022748;
  color: white;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

/* Defind default css style for last step */
.steps:last-child {
  background: #D3D3D3;
  color: black;
  margin-left: 38px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* Define default css background for half top and bottom of last step child */
.steps:last-child::before,
.steps:last-child::after {
  background: #D3D3D3 !important;
}

/* Create white arrow symble with left border of last step child */
.steps:last-child:before,
.steps:last-child:after {
  left: -50px;
  border-left-style: solid;
  border-width: 4px;
  border-color: white;
}

/* Override css background style of steps:last-child::before, and steps:last-child:after in active state */
.active:last-child::before,
.active:last-child::after {
  background: #022748 !important;
}

/* Override css background and color style of class steps when in active state */
.active:last-child,
.steps {
  background: #022748;
  color: white;
}